@import "./variables";
@import "./menuBar";

.aside {
  width: 100%;
  max-width: 15%;
  height: calc(93vh - $main-padding);
  max-height: 100%;
  // background-color: $primary-color;
  // padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .line {
    border-top: 1px solid $border-color;
    padding-top: 30px;

    .button {
      width: 100%;
    }
  }

  .logo {
    padding-top: 10px;

    .other_color {
      color: #002f2b;
    }

    font-family: $font-logo;
    color: #488680;
    font-size: 3rem;
  }
}

.menu_list {
  li {
    .menu_items {
      background: none;
      border: none;
      color: #002f2b;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: $main-font;

      .dash_Board {
        margin-right: 10px;
      }
    }
  }
}

@media (min-width: #{$tablet-width} ) {
  .aside {
    display: flex;
    flex-direction: row;
    max-width: 0;
  }
}
