@import "./variables";

.container {
  height: calc(100% - 50px);
  max-height: 100%;
  display: flex;
  padding: 50;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $light_primary-color;
  z-index: 100;
  position: relative;
  top: -6px;
  left: 23px;
}
.main_container {
  .box_bar {
    width: calc(100% - 30px);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    .hello_msg {
      display: flex;
      align-self: center;
      font-size: 20px;
      font-family: sans-serif;

      .user_inBox {
        color: $primary-color;
        margin-left: 10px;
      }
    }

    .in_box {
      background: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: 5px;
      color: $primary-color;
      text-decoration: none;
      font-family: $main-font;

      .message_box {
        padding-right: 20px;
        text-decoration: none;
        color: black;

        .notification_counter {
          color: $light_primary-color;
          font-weight: bolder;
          text-decoration: none;
        }

        p {
          padding-top: 5px;
          display: flex;
          align-self: flex-start;
          color: $primary-color;
          font-weight: bolder;
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .box_bar {
    // margin: 50px 0 30px 0;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    .user_inBox {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  .in_box {
    margin-left: 10px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1023px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .box_bar {
    margin: 0 0 15px 0;
    width: calc(100% - 30px);
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    .user_inBox {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
