@media (min-width: $mobile-width) and (max-width: 767px) {
  .login_container {
    .input_registration {
      background: url(../img/medycyna-holistyczna-826x470.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: $main-font;
      color: $primary-color;

      margin: 10px;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text_decor {
        font-weight: bold;
      }
      .reg_end {
        margin: 0 10% 10px 10%;
      }
      .input_board {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input_time,
        .input_date {
          margin-top: 10px;
          margin-left: 5px;
          padding: 10px 20px;
          color: $primary-color;
        }
        .button_input {
          margin-top: 10px;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) and (max-width: 1023px) {
  .login_container {
    .input_registration {
      font-family: $main-font;
      color: $primary-color;

      margin: 10px;
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .text_decor {
        font-weight: bold;
      }
      .reg_end {
        margin: 0 10% 10px 10%;
      }
      .input_board {
        display: flex;
        flex-direction: column;
        align-items: center;
        .input_time,
        .input_date {
          margin-top: 10px;
          margin-left: 5px;
          padding: 10px 20px;
          color: $primary-color;
        }
        .button_input {
          margin-top: 10px;
        }
      }
    }
  }
}

.login_container {
  .input_registration {
    font-family: $main-font;
    color: $primary-color;

    margin: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text_decor {
      font-weight: bold;
    }
    .reg_end {
      margin: 0 10% 10px 10%;
    }
    .input_board {
      display: flex;
      flex-direction: column;
      align-items: center;
      .input_time,
      .input_date {
        margin-top: 10px;
        margin-left: 5px;
        padding: 10px 20px;
        color: $primary-color;
      }
      .button_input {
        margin-top: 10px;
      }
    }
  }
}
