@import "./variables";

.search_container {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 0 30px 30px 30px;
  width: 88.3%;
  height: 90%;
  padding: 30px;

  .med_person {
    border: 1px solid $border-color;
    border-radius: 5px;
    margin: 0 30px 30px 30px;
    padding: 0 30px 30px 30px;
    overflow: scroll;
    .name_surname {
      margin: 10px;
    }
  }
}
