@import "./variables";

.login_container {
  .searchDiv {
    display: flex;
    flex-direction: column;
    width: 100%;

    form {
      display: flex;
      flex-direction: row;

      margin: 30px;
      border: 1px solid $border-color;
      height: 30px;
      width: 91.5%;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 30px;

      .search_Div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 15px;
        position: relative;

        .search {
          height: 30px;
          border: 1px solid $border-color;
          width: 100%;
          border-radius: 5px;
          padding: 5px;
        }

        .search_Place::placeholder {
          font-family: $main-font;
          color: $border-color;
        }

        .search_List {
          margin-top: 5px;
          position: absolute;
          top: 40px;
          z-index: 100000;
          overflow: scroll;
          height: 100px;
          border: 1px solid $border-color;
          width: calc(100% - 5px);
          border-radius: 5px;
          padding: 10px;
          background-color: #e0e0e042;

          li {
            button {
              border: 1px solid $primary-color;
              border-radius: 5px;
              padding: 5px;
              background: none;
              margin-top: 5px;
              color: $primary-color;
              font-family: $main-font;
            }

            button:hover {
              background-color: $primary-color;
              color: $white-color;
            }
          }
        }
      }
    }
  }
}
