@import "./variables";
.search_container {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin: 0 30px 30px 30px;
  width: calc(100% - 120px);
  height: 100%;
  padding: 30px;
  overflow: scroll;

  .med_person {
    border: 1px solid $border-color;
    border-radius: 5px;
    margin: 0 30px 30px 30px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    .person_infomed {
      display: flex;
      flex-direction: row;
      .name_surname {
        margin-left: 10px;
      }
      .phone_Number {
        margin-left: 10px;
        align-self: flex-end;
      }
    }
    .price {
      display: flex;
      flex-direction: column;
      .price_OtherVisit {
        margin-left: 10px;
      }
    }
    .place {
    }
  }
}
