@import "./variables";

.login_container {
  .in_box_calendar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .pending_registrations {
      font-family: $main-font;
      color: $primary-color;
      height: calc(100% - 40px);
      width: calc(100% - 40px);
      padding: 10px;
      margin: 10px;
      border: 1px solid $border-color;
      .in_box_message {
        height: 95%;
        display: flex;
        flex-direction: row;
      }
    }
    .ready_registrations {
      height: calc(100% - 40px);
      width: calc(100% - 40px);
      padding: 10px;
      margin: 10px;
      border: 1px solid $border-color;
    }
  }
}
