@import "./variables";

.login_container {
  .in_box_message {
    width: 50%;
    height: 75%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .notification_message {
      width: calc(100% - 120px);
      height: 5%;
      padding: 30px;
      margin: 30px;
      border: 1px solid $border-color;
    }
  }
}
