$font-logo: 'Sacramento',
cursive;
$main-font: 'Raleway',
sans-serif;
$primary-color:#165954;
$light_primary-color:#488680;
$secondary-color: #f9ac66;
$border-color :#e0e0e0;
$white-color: #FBF7F5;


$tablet-width: 768px;
$mobile-width: 375px;